<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
   <link rel="stylesheet" href="/themes/{{siteInfo.theme}}/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/themes/{{siteInfo.theme}}/assets/css/main.css" />
    <script src="/themes/{{siteInfo.theme}}/assets/js/jquery-2.2.1.min.js"></script>
    <script src="/themes/{{siteInfo.theme}}/assets/js/bootstrap.min.js"></script>
     {{{siteInfo.codeHeader}}}
</head>
<body>
	{{{body}}}
	<br>
    <br>
    <br>
    <div class="jumbotron clear-bottom-margin">
      <div class="container text-center text-muted">
        {{{siteInfo.codeFooter}}}
        <small>Powered by <a href="#" title="轻量级CMS内容管理系统" target="_blank">NoderCMS</a></small>
      </div>
    </div>
</body>
</html>